@using SmartCitities.Admin.StaticF
@model IEnumerable<SmartCities.Core.Models.Product>

@{
    ViewData["Title"] = "Index";
    if (!string.IsNullOrEmpty(CostantsVaules.LayoutType))
    {
        Layout = CostantsVaules.LayoutType;

    }
}

<h1>Products</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <a class="btn btn-success" asp-controller="Home" asp-action="Index">Back To Home</a>
</p>
@if(Model.Count()==0)
{
    <h1 style="color:darkblue;text-align:center">NO Products Added</h1>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
           
            <th>
                @Html.DisplayNameFor(model => model.ParentProduct)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
          
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <img src="@item.ImageUrl" style="height:100px;width:100px;" />
                </td>
            <td>
                        @item.Description.Substring(0, (@item.Description.Length) / 8)..
            </td>
            
          
            <td>
                @Html.DisplayFor(modelItem => item.ParentProduct.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
            
            
            
                <td>
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-group" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
}
