@using SmartCitities.Admin.StaticF
@model IEnumerable<SmartCities.Core.Models.Client>

@{
    ViewData["Title"] = "Index";
    if (!string.IsNullOrEmpty(CostantsVaules.LayoutType))
    {
        Layout = CostantsVaules.LayoutType;
    }
}

<h1>Clients</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <a class="btn btn-success" asp-controller="Home" asp-action="Index">Back To Home</a>
</p>
@if(Model.Count()==0)
{
    <h1 style="color:darkblue;text-align:center">NO Clients Added</h1>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            
           
            
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <img src="@item.Logo" style="height:100px;width:100px;" />

                </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
               
           
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
           
            <td>
                <a  class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class=" btn btn-group" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
